body { behavior: url('css/csshover3.htc'); }

.cc { font-size: 0; overflow: hidden; height: 0; }

.b-form .i-text, .b-form-h .i-text { width: 99%; }

.w-5, .w-10, .w-15, .w-20, .w-25, .w-30, .w-35, .w-40, .w-45, .w-50, .w-55, .w-60, .w-65, .w-70, .w-75, .w-80, .w-85, .w-90, .w-95, .w-100, .w-33, .w-66, .w-38, .w-62 { display: inline; }

.w-5, .w-10, .w-15, .w-20, .w-25, .w-30, .w-35, .w-40, .w-45, .w-50, .w-55, .w-60, .w-65, .w-70, .w-75, .w-80, .w-85, .w-90, .w-95, .w-100, .w-33, .w-66, .w-38, .w-62,
.cl, .b-cols, .b-wi, .nav-h, .nav-h-d, .b-gallery, .hasLayout, .lb, .nav-h li li, .nav-h li li a { zoom: 1; } /* hasLayout ON */

.b-pager li { display: inline!important; }
