/* Base body & links styles
---------------------------------------- */
body {
  color: #444;
  background: #fff;
  display: block;
  border: 1px solid black;
  background-color: grey;
}
body:hover {
  background-color: #ffffff;
}
a {
  color: #268bd2;
}
a:active {
  outline: none;
}
