/* Base body & links styles
---------------------------------------- */
html								{  }
body								{ color: @textColor; background: @background_color; #font > .base(); }

a									{ color: @linkColor; }
a:visited							{ color: @linkColorVisited; }
a:hover								{ color: @linkColorHover; }
a:active							{ outline: none; }