/* Breadcrumbs
--------------------------------------- */
.f-breadcrumbs						{ overflow: hidden; margin: 0 0 @baseBottomSpacing; padding: 0; }
.f-breadcrumbs li					{ float: left; margin-left: @baseLineHeight/2; list-style: none; }
.f-breadcrumbs li:before			{ content: '/'; margin-right: @baseLineHeight/2; }
.f-breadcrumbs li:first-child		{ margin-left: 0; }
.f-breadcrumbs li:first-child:before		{ display: none; }
.f-breadcrumbs a					{ text-decoration: none; }
.f-breadcrumbs a:hover				{ text-decoration: underline; }