/* Gallery
---------------------------------------- */
.f-gallery							{ margin: 0; }
.f-gallery .f-gallery-item			{ margin-bottom: @grid_gutter_width; }
.f-gallery a						{ text-decoration: none; }
.f-gallery a:hover					{ text-decoration: underline; }
.f-gallery img						{ display: block; background: @color_white; padding: 4px; border: 1px solid @color_light; .border-radius; }
.f-gallery small					{ display: block; padding: 0 5px; }