/* css-framework documentation styles
--------------------------------------- */

.grid-demo > [class ^= "g-"]				{ text-align: center; background: #fdf6e3; line-height: 27px; border-radius: 3px; }
.grid-demo .grid-demo > [class ^= "g-"]		{ background: #eee8d5; }
.grid-demo code								{ border: none; background: none; }