/* css-framework documentation styles
--------------------------------------- */

/* Grid demo
--------------------------------------- */
.grid-demo > [class ^= "g-"]				{ text-align: center; background: #eee; line-height: 27px; border-radius: 3px; }
.grid-demo .grid-demo > [class ^= "g-"]		{ background: #e2e2e2; }
.grid-demo code								{ border: none; background: none; }

/* Demo box
--------------------------------------- */
.f-demo										{ background: #fcfcfc; border: 1px solid #f3f3f3; padding: 14px; border-radius: 3px; margin: 0 -15px 14px -15px; }
.f-demo :last-child							{ margin-bottom: 0; }

/* Columns demo
--------------------------------------- */
.f-demo .f-column						{ background: #eee; position: relative; overflow: hidden; }
.f-demo .f-column p						{ padding: 5px 10px; }
.f-demo .f-column:after					{ left: 0; top: 0; width: 10px; bottom: 0; content: ''; background: #ccc; position: absolute; display: block; }
.f-demo .f-column:first-child:after		{ left: auto; right: 0; border: none; }